.chart-modal-cover{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  &.no-bg{
    background-color: transparent;
  }
  .chart-modal{
    position: relative;
    display: flex;
    flex-direction: column;
    &.bg-2{
      width: 1395rem;
      height: 568rem;
      background: url('../../../src/business/mainPage/assets/bg-弹窗大.png') no-repeat;
      background-size: 100%;
    }
    /* &.bg-3{
      width: 1590rem;
      height:469rem ;
      background: url('../../../../assets/images/mapCenter/modal-3-bg.png') no-repeat;
      background-size: 100%;
    }
    &.bg-4{
      width: 1082rem;
      height:802rem ;
      background: url('../../../../assets/images/mapCenter/modal-4-bg.png') no-repeat;
      background-size: 100%;
    } */
    .modal-title{
      font-size: 14rem;
      color: #FFFFFF;
      letter-spacing: 2.59rem;
      font-weight: 400;
      height: 50rem;
      line-height: 50rem;
      padding-left: 20rem;
    }
    .modal-inner{
      flex: 1;
      display: flex;
      flex-direction: column;
      min-height: 0;
      .modal-bar{
        height: 68rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-picker.chart-picker{
          padding: 3rem 11rem 3rem;
          border-radius: 4rem;
          border-width: 1rem;
          input{
            height: 22rem;
            font-size: 14rem;
          }
          .ant-picker-suffix{
            .anticon{
              font-size: 14rem;
            }
          }
        }
        .ant-select.chart-select {
          font-size: 14rem;
          .ant-select-selector{
            height: 30rem;
            border-width: 1rem;
            padding: 0 7rem;
            border-radius: 4rem;
            background-color: #102462;
            border-color: #3C8DBA;
            .ant-select-selection-search{
              .ant-select-selection-search-input{
                height: 22rem;
                font-size: 14rem;
              }
            }
            .ant-select-selection-item{
              line-height:28rem;
              padding-right:21rem;
            }
            .ant-select-selection-placeholder{
              line-height:28rem;
              padding-right:21rem
            }
          }
          .ant-select-arrow{
            right: 11rem;
            height: 12rem;
            font-size: 12rem;
            margin-top: -5rem;
            .anticon{
              font-size: 14rem;
            }
          }
          .ant-select-clear{
            right: 11rem;
            width: 12rem;
            height: 12rem;
            font-size: 12rem;
            margin-top: -8rem ;
            background:#102462;
            .anticon{
              font-size: 14rem;
            }
          }
          &.ant-select-multiple{
            .ant-select-selection-overflow-item{
              font-size: 14rem;
              .ant-select-selection-item{
                background: #179fff;
                line-height: 18rem;
                height: 20rem;
                font-size: 14rem;
                .ant-select-selection-item-content{
                  margin-right:4rem;
                  font-size: 14rem;
                }
                .ant-select-selection-item-remove{
                  .anticon.anticon-close{
                    font-size: 14rem;
                  }
                }
              }
            } 
           
          }
        }
        /* .back-to-front{
          background: url(../../../../assets/images/mapCenter/back-front-bg2.png) no-repeat;
          width:91rem;
          height:45rem;
          background-size: 100%;
          font-size: 15rem;
          color: #FFFFFF;
          text-shadow: 0 2rem 3rem rgba(0,27,175,0.50);
          font-weight: 700;
          padding-bottom: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .back-icon{
            width: 24rem;
            height: 16rem;
            margin-top: 3rem;
            margin-right: 3rem;
          }
        } */
      }
      .modal-content{
        min-height: 0;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        .content-item{
          background-image: linear-gradient(180deg, #0B2E58 0%, #073670 74%, #014191 100%);
          border-radius: 8rem;
          border:0.5rem solid transparent;
          padding: 20rem;
          &:hover{
            border: 0.5rem solid rgba(28, 167, 255, 1);
            box-shadow: inset 0rem 0rem 10rem 3rem rgba(8,159,255,1);
          }
          &.num-4{
            width: calc((100% - 30rem)/2);
            height:calc((100% - 30rem)/2);
          }
          &.num-2{
            width: calc((100% - 30rem)/2);
            height: 100%;
          }
          &.num-3{
            width: calc((100% - 60rem)/3);
            height: 100%;
          }
          .chart-box .header {
            height: 32rem;
            padding-left:45rem;
            background-size: 100%;
            .title {
              font-size: 17rem;
              letter-spacing: 2rem;
              margin-right: 5rem;
            }
            .operation{
              height: 25rem;
            }
          }
        }
      }
    }
    .close-btn{
      color: #367BBB;
      font-size: 22px;
      position: absolute;
      right: 20rem;
      top: 10rem;
      cursor: pointer;
    }
  }
}