html {
  /* font-size: 1px; */
  font-size: calc(100vw / 1920);
  /* font-family: PangMenZhengDao; */
  font-family: Microsoft Yahei;
}

.ant-slider {
  margin: 5px 0;
}
.ant-slider-handle::after {
  background-color: #003D75;
}
.ant-form-item {
  margin-bottom: 10px;
}
.ant-tree {
  background: transparent;
}
.ant-tree-checkbox-inner {
  background-color: transparent !important;
  border-color: #0C547E !important;
}
.ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after{
  background-color: #fff !important;
}
svg {
  color: #7795CC;
}

/* modal */
.ant-modal-content {
  background-color: transparent !important;
  background-image: url('../../../src/business/mainPage/assets/bg-弹窗大.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .ant-modal-header {
    background-color: transparent;
    position: relative;
    top: -20px;
    left: -24px;
    .ant-modal-title {
      height: 40rem;
      line-height: 40rem;
      padding-left: 20rem;  
      background: url('../../../src//business/mainPage/assets/弹窗标题.png') no-repeat;
      line-height: 40rem;
    }
  }
  .ant-modal-body {
  }
  .ant-modal-footer {

  }
}
/* table */
.ant-table {
  .ant-table-tbody>tr:nth-child(2n) {
    background: #15305B;
  }
 }

.mainPage {
  font-size: 14rem;
  height: 100vh;
  width: 100vw;
  /* min-height: 800rem; */
  background: #191919;
  display: flex;
  flex-direction: column;
  color: #fff;

  /* 页面中间部门 */
  .content {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  /* 页尾 */
  .footer {
    height: 30rem;
    background: url('./assets/底部-bg.png') no-repeat;
    background-size: 100% 100%;
  }
}