@font-face {
  font-family: "iconfont"; /* Project id 4259654 */
  src: url('iconfont.woff2?t=1713341837735') format('woff2'),
       url('iconfont.woff?t=1713341837735') format('woff'),
       url('iconfont.ttf?t=1713341837735') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhaoxiangji:before {
  content: "\e602";
}

.icon-xiangji:before {
  content: "\e616";
}

.icon-rili:before {
  content: "\e620";
}

.icon-guanbi:before {
  content: "\e60b";
}

.icon-set:before {
  content: "\e609";
}

.icon-dingwei:before {
  content: "\e6aa";
}

.icon-yincang:before {
  content: "\e74f";
}

.icon-mei:before {
  content: "\e601";
}

.icon-shipinjiankong2:before {
  content: "\e6dd";
}

.icon-naozhong-F:before {
  content: "\e634";
}

.icon-wenjianjia:before {
  content: "\e607";
}

.icon-quyuguanli:before {
  content: "\e66c";
}

.icon-shipinjiankong:before {
  content: "\e604";
}

.icon-shipinjiankong1:before {
  content: "\e623";
}

.icon-mianjiceliang:before {
  content: "\e605";
}

.icon-kucunpandian-:before {
  content: "\e646";
}

.icon-yichu:before {
  content: "\e888";
}

.icon-Scout-Trooper:before {
  content: "\edf9";
}

.icon-keshiquyu:before {
  content: "\e641";
}

.icon-yichu1:before {
  content: "\e624";
}

.icon-mianji:before {
  content: "\e65e";
}

.icon-MinusRemovejianquyichu14:before {
  content: "\e706";
}

.icon-os-icon-ruler-PPM:before {
  content: "\e603";
}

.icon-quyuguanli1:before {
  content: "\e606";
}

.icon-wenduchuanganqi:before {
  content: "\e738";
}

.icon-4:before {
  content: "\e62a";
}

.icon-cource-cate-10:before {
  content: "\e600";
}

.icon-changdu:before {
  content: "\e8a1";
}

.icon-a-1_jiaoduceliang:before {
  content: "\e733";
}

.icon-gaodu-xian:before {
  content: "\e89a";
}

.icon-dingshiqidong:before {
  content: "\e9cc";
}

.icon-jiaodu:before {
  content: "\e98f";
}

.icon-a-yichu3:before {
  content: "\ea64";
}

.icon-hongwaicewen:before {
  content: "\e60a";
}

.icon-quyuguanli2:before {
  content: "\e6f6";
}

