#root {
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.scrollContainer::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10rem;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10rem;
}
.scrollContainer::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  background: #576293;
  border-radius: 4rem;
  border: 2rem solid transparent;
  background-clip: content-box;
}
.scrollContainer::-webkit-scrollbar-track {/*滚动条里面轨道*/
  background: #021a35;
  border-radius: 4rem;
  border: none;
  box-shadow: none;
}
.scrollContainer::-webkit-scrollbar-corner {
  background-color: #021a35;
}